border-radius()
	-webkit-border-radius: arguments
	-moz-border-radius: arguments
	border-radius: arguments
	
bg-cover()
	-ms-background-size: cover
	-o-background-size: cover
	-moz-background-size: cover
	-webkit-background-size: cover
	background-size: cover