//edit()
bp = 990px

html
	::selection
		background #d04c3f
		color #fff
		
body
	display flex
	height 100vh
	+below(bp)
		flex-direction column
		
	
aside.barra-lateral
	background gray
	width 34%
	display flex
	justify-content center
	align-items center
	+below(bp)
		width auto
	
	
section.conteudo
	background Peachpuff
	bg-cover
	flex-grow 1
	display flex
	flex-direction column
	min-height 100vh
	+below(bp)
		min-height calc(100vh - 100px)

	
	.display
		margin-top 20px
		margin-left 20px
		margin-right 20px
		display flex
		flex-direction column
		flex-grow 1
		
	.insert
		background #f3f0ef
		padding 0 20px
		display flex
		color #333
		height 60px
		align-items center
		
.info
	display flex
	flex-grow 1
	justify-content space-around
	
.icon
	//width 8%
	font-size 24px
	img
		height 38px

.input
	flex-grow 1
	margin 0 20px
	input 
		width 96%
		padding 8px 2%
		border-spacing 0
		&:focus
			outline none
		
.msg
	background white
	max-width 74%
	padding 14px
	margin 15px 0
	border-radius 5px
	color #5a5a5a
	line-height 1.3rem
	
.me
	align-self flex-start
.not-me
	align-self flex-end