//edit()
bp = 990px

html
    ::selection
        background #d04c3f
        color #fff

body
	position relative
	background #fafafa
	overflow hidden
	padding-top 30px


body:before
	content ' '
	display block
	position absolute
	left 0
	top 0
	width 100%
	height 100%
	z-index 1
	opacity 0.1
	background-image url('../img/bg.jpg')
	background-repeat no-repeat
	background-position 50% 0
	-ms-background-size cover
	-o-background-size cover
	-moz-background-size cover
	-webkit-background-size cover
	background-size cover
        
h1
    text-align center
    
.text
	color #555
	padding 10px
	+below(bp)
		padding 20px
	p
		margin-bottom 3px
		.user
			color #aaa
		+below(bp)
			font-size 1.4em
			margin 25px 0
		
.content
	opacity 0
	transition opacity 1s ease-in
.loaded
	opacity 1

.demo-card-event.mdl-card
	width 512px
	height 512px
	margin 0 auto
	background #fff
	+below(bp)
		center(90%)
		display flex
.mdl-card--expand
	overflow-y scroll

.demo-card-event > .mdl-card__actions 
	border-color rgba(255, 255, 255, 0.2)

.demo-card-event > .mdl-card__title
  align-items flex-start

.demo-card-event > .mdl-card__title > p 
  margin-top 0
  display block

.demo-card-event > .mdl-card__actions 
	display flex
	box-sizing border-box
	align-items center

.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button
	color #333
	
form
	width 100%
	.mdl-textfield
		width 100%
	.mdl-textfield__input
		+below(bp)
			font-size 2em
	.mdl-textfield__label
		+below(bp)
			font-size 1em