//edit()
bp = 990px

html
    ::selection
        background #d04c3f
        color #fff
        
body
	background #fafafa
	position relative
        
h1
    text-align center
    
.text
	color #555
	padding 10px
	p
		margin-bottom 3px
		.user
			color #aaa
.content
	opacity 0
	transition opacity 1s ease-in
.loaded
	opacity 1

.demo-card-event.mdl-card
	width 512px
	height 512px
	margin 30px auto
	background #fff
	+below(bp)
		center(90%)
		display flex

.demo-card-event > .mdl-card__actions 
	border-color rgba(255, 255, 255, 0.2)

.demo-card-event > .mdl-card__title
  align-items flex-start

.demo-card-event > .mdl-card__title > p 
  margin-top 0
  display block

.demo-card-event > .mdl-card__actions 
	display flex
	box-sizing border-box
	align-items center

.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button
	color #333
	
form
	width 100%
	.mdl-textfield
		width 100%